# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
jspm_packages/
bower_components

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
__generated__

# Native
.kotlin/
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Build outputs
build/
web-build/
out
.next
.nuxt

# Debug files
npm-debug.*
yarn-debug.*
yarn-error.*
lerna-debug.log*
.pnpm-debug.log*

# Logs
logs
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage
*.lcov
.nyc_output

# Grunt intermediate storage
.grunt

# Compiled binary addons
build/Release

# Snowpack dependency directory
web_modules/

# TypeScript
*.tsbuildinfo

# Cache directories
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.cache
.parcel-cache
.temp
.docusaurus
.fusebox/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Environment variables
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.pem

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Android
.gradle/
local.properties
captures/
.externalNativeBuild/
.cxx/
*.apk
output.json
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
google-services.json
*.hprof
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache
.project
.classpath

# iOS/Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout

# React Native Buck
buck-out/
.buckconfig.local
.buckd/
.buckversion
.fakebuckversion

# Serverless directories
.serverless/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.history
.ionide

# Custom
app-example

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov
.lock-wscript